{% block col5 %}
{% load static %}

<table  border="1" style="table-layout:auto;width:100%;font-size:15px;font-weight:bold;text-align: center;vertical-align: center;overflow-x: auto;font-style:bold;" id="tableaff">

    <thead style="background-color: #04AA6D;color: white;">

        <tr>
            <td>_id</td>
            <td>productName</td>
            <td>type</td>
            <td>brand</td>
            <td>url</td>
            <td>priceNow</td>
            <td>priceOld</td>
            <td>percentage</td>
            <td>__v</td>
        </tr>

    </thead>

  
  <tbody style=" background-color: rgb(186, 186, 186);color: black;font-size: 15px;font-weight:bold ">
        {% for elem in listp %}
        <tr>
            {% for k in elem %}
            <td>
              {{k}}  
            </td>
            {% endfor %}
        </tr>
        
        {% endfor %}
    </tbody>

</table>
{% endblock col5 %}