{% block col7 %}
{% load static %}

<table  border="1" style="table-layout:auto;width:100%;font-size:15px;font-weight:bold;text-align: center;vertical-align: center;overflow-x: auto;font-style:bold;" id="tableaff">
    <thead style="background-color: #04AA6D;color: white;">
        <tr>
            <td>Type - Genre - Prix - Géographique</td>
            <td>Fait</td>   
        </tr>
    </thead>
    <tbody style=" background-color: rgb(186, 186, 186);color: black;font-size: 15px;font-weight:bold ">        
        {% for i in listqd %}
        <tr>
            <td>
                {{i.id}}    
            </td>
            <td>
                {{i.ca}}
            </td>
            </tr>
            {% endfor %}
</tbody>
</table>

{% endblock col7 %}